{include file="header"/}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 角色管理<b>></b><strong>角色管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('Role/insert')}" class="actionBtn add">添加角色</a>角色管理</h3>
        <span ><h3><a class="actionBtn add" onclick="mydel()" >批量删除</a></h3></span>
    <table width="100%" id="table" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
          </table>
           </div>
 </div>
 <div class="clear" onclick='delet()'></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">
	function show(){
		$.ajax({
		url:"{:url('Role/action')}",
		dataType:'json',
		success:function(reusult){
			var cole=reusult.data
			var tr=''
			tr=tr+"<tr><th align='left'width='30'> <input type='checkbox' id='boxid' onclick='setAllNo()' /></th><th align='left'width='30'>序号</th><th width='120' align='left'>角色名称</th><th width='120' align='left'>角色描述</th><th width='80' align='center'>操作</th></tr>"
			for (var i = 0; i<cole.length; i++) {
				//console.log(cole[i].name);
				tr=tr+"<tr><td><input type='checkbox' class='mycheckbox' value='"+cole[i].id+"' name='love'/></td><td>"+cole[i].id+"</td><td align='left' value='"+cole[i].id+"'><span class='span'>"+cole[i].name+"</span></td><td>"+cole[i].description+"</td><td align='center'><a href='{:url('Role/upt')}?id="+cole[i].id+"'>编辑</a>|<a onclick='dele("+cole[i].id+")'>删除</a></td></tr>"
			}
			$("#table").html(tr)		
		}
	})
	}
	show()
	function dele(id){
		var id=id;
		$.ajax({
		url:"{:url('Role/dele')}",
		data:{
			id:id
		},
		type:'post',
		dataType:'json',
		success:function(reusult){
		alert(reusult.data);
		show()
		}

	})
	}
</script>
</body>
</html>