{include file="header"/}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 权限分类中心<b>></b><strong>权限分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('Permissioncategory/insert')}" class="actionBtn add">添加分类</a>权限分类分类</h3>
    <table width="100%" id="table" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
          </table>
           </div>
 </div>
 <div class="clear" onclick='dele()'></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">
		$.ajax({
		url:"{:url('Permissioncategory/action')}",
		dataType:'json',
		success:function(reusult){
			var cole=reusult.message
			var tr=''
			tr=tr+"<tr><th align='left'>序号</th><th width='120' align='left'>分类名称</th><th align='left'>简单描述</th><th width='80' align='center'>操作</th></tr>"
			for (var i = 0; i<cole.length; i++) {
				// console.log(cole[i].name);
				console.log(cole[i].name);
				tr=tr+"<tr><td>"+cole[i].id+"</td><td align='left'><a href='article.php?cat_id=1'>"+cole[i].name+"</a></td><td>"+cole[i].description+"</td><td align='center'><a href=''>编辑</a>|<a onclick='dele()'>删除</a></td></tr>"
			}
			$("#table").html(tr)
			
		}
	})
	function dele(id){
		console.log(id);
	}

</script>
</body>
</html>