  {include file="header"/}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>网站管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Permissioncategory/list')}" class="actionBtn">返回列表</a>网站管理员</h3>
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      
      <tr>
        <input type="hidden" id="__token__" name="__token__" value="" />
       </td>
      </tr>
      {volist name="arr" id="vo"}
       <tr>
      
       <td>
        <input type="hidden" id="id" size="40" value="{$vo.id}"  />
       </td>
      </tr>
      <tr>

      <tr>
       <td width="100" align="right">权限名字</td>
       <td>
        <input type="text" id="name" size="40" value="{$vo.name}" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td width="100" align="right">权限路径</td>
       <td>
        <input type="text" id="path" size="40" value="{$vo.path}" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td width="100" align="right">权限描述</td>
       <td>
        <input type="text" id="description" size="40" value="{$vo.description}" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td>
        <input type="hidden" id="nid" size="40" value="{$vo.category_id}" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td width="100" align="right">权限类型</td>
       <td>
        <select id="sel">
        
        </select>
       </td>
      </tr>
      {/volist}
      <tr>
       <td></td>
       <td>
      <!--   <input type="hidden" name="token" value="5a58b748" /> -->
        <input type="submit" onclick="log()" name="submit" class="btn" value="提交" />
       </td>
      </tr>
     </table>
    
                   </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">
  function gettoken(){
    $.ajax({
      url:"{:url('Permission/gettoken')}",
      dataType:'json',
    success:function(reusult){
      var sde= reusult.data
      $('#__token__').val(sde)
     
      
    }
    })
  }
  gettoken()
function getcate(){
	var nid=$('#nid').val();
    $.ajax({
    url:"{:url('Permissioncategory/action')}",
    dataType:'json',
    success:function(reusult){
      var coud=reusult.message
      console.log(coud)
      var option=''
      for (var i = 0; i<coud.length; i++) {
      	if (nid==coud[i]['id']) {
        option=option+"<option value='"+coud[i]['id']+"'selected>"+coud[i]['name']+"</option>"
      }else{
        option=option+"<option value='"+coud[i]['id']+"'>"+coud[i]['name']+"</option>"
      }
       
      }
      $("#sel").html(option)    
    }
  })
  }
  getcate()
	function log(){
   var id=$('#id').val();	
   var name=$('#name').val();
   var path=$('#path').val();
   var sel=$('#sel').val();
   var description=$('#description').val();
   var token=$('#__token__').val()
		$.ajax({
		url:"{:url('Permission/updat')}",
		data:{
			id:id,
			name:name,
      path:path,
			description:description,
      sel:sel,
      token:token
		},
		type:'post',
		dataType:'json',
		success:function(reusult){
       // console.log(reusult.data);
			 // alert(reusult.data);
			
		}
	})
	} 

</script>
</body>
</html>