{include file="header"/}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理员中心<b>></b><strong>管理员</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('User/insert')}" class="actionBtn add">添加管理员</a>管理员</h3>
        <span ><h3><a class="actionBtn add" onclick="mydel()" >批量删除</a></h3></span>
    <table width="100%" id="table" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
          </table>
           </div>
 </div>
 <div class="clear" onclick='delet()'></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">
  function show(){
    $.ajax({
    url:"{:url('User/action')}",
    dataType:'json',
    success:function(reusult){
      var cole=reusult.data
      var tr=''
      tr=tr+"<tr><th align='left'> <input type='checkbox' id='boxid' onclick='setAllNo()' /></th><th align='left'>序号</th><th width='120' align='left'>管理员名称</th><th width='120' align='left'>管理员角色名称</th><th width='120' align='left'>管理员手机号</th><th width='120' align='left'>添加的时间</th><th align='left'>最后一次登录的时间</th><th width='80' align='center'>操作</th></tr>"
      for (var i = 0; i<cole.length; i++) {
        //console.log(cole[i].name);
        tr=tr+"<tr><td><input type='checkbox' class='mycheckbox' value='"+cole[i].id+"' name='love'/></td><td>"+cole[i].id+"</td><td align='left' value='"+cole[i].id+"'><span class='span'>"+cole[i].user_name+"</span></td><td>"+cole[i].name+"</td><td>"+cole[i].mobile+"</td><td>"+cole[i].last_login_time+"</td><td>"+cole[i].create_time+"</td><td align='center'><a href='{:url('User/updat')}?id="+cole[i].id+"'>编辑</a>|<a onclick='dele("+cole[i].id+")'>删除</a></td></tr>"
      }
      $("#table").html(tr)    
    }
  })

  }
  show()
  function dele(id){
    var id=id;
    $.ajax({
    url:"{:url('user/dele')}",
    data:{
      id:id
    },
    type:'post',
    dataType:'json',
    success:function(reusult){
    alert(reusult.data);
    show()
    }

  })
  }
   function setAllNo(){
             var box = document.getElementById("boxid");
             var loves = document.getElementsByName("love");
             if(box.checked == false){
                 for (var i = 0; i < loves.length; i++) {
                     loves[i].checked = false;
                 }
             }else{

                 for (var i = 0; i < loves.length; i++) {
                     loves[i].checked = true;
                     }
             }
        }

        function mydel(){
           if (confirm("你确定要全部删除吗？")) {  
            
            var box=$(".mycheckbox:checked")
          var id=''//给一个空数组0
          for (var i = 0; i < box.length; i++) {
            id=id+','+box[i].value//因为是空数组所以第一位是0用，隔开
          }
          $.ajax({
    url:"{:url('Permissioncategory/mydel')}",
    data:{
      id:id
    },
    type:'post',
    dataType:'json',
    success:function(reusult){
    alert(reusult.data);
    location.reload(true);
        }
      })
        }  
        else {  
        }  
          
        }
 
</script>
</body>
</html>